.SearchBar {
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  text-align: center;
  grid-template-areas: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}
.MainWeatherInfo {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 20px;
}
.WeatherDetails {
  display: grid;  
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 20px;
}

.Navigation {
  display: grid; /* Three columns with equal width */ /* Gap between grid items */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px;
  
}
.SpanningButton {
  display: block;
  width: 100%;
  align-content: center;
}
.CloudTypeIntro{
  font-weight: normal;
  background-color: beige;
  
}
.Classifier{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
.CloudTypes{
  display: flex;
  flex-flow: row;
  font-size: large;
  flex-wrap: wrap;
  gap: 20px;
  background-color: antiquewhite;
  height: 100%;
}
.listItem{
  align-items: center;
  flex-basis: content;
  justify-content: center;
  list-style: none;
  display: block;
  width: 100%;
  border: solid;
  border-color: aqua;
  background-color: aliceblue;
}

  